{% extends 'base.html.twig' %}

{% block title %}Hello ArtistesController!{% endblock %}

{% block body %}
<main class="main-artists">
    <div class="search-header">
        <label class="label-search" for="search"><i class="fas fa-search"></i>
            <input type="text" name="search" id="search" placeholder="RECHERCHER">
        </label>
    </div>

    <div class="artists-list">
        <h1 class="page-title pge-album-arts">
            Artists
        </h1>
        {%for artist in artists%}
        <div class="artist-it">
            <a href="{{ path('view_artist', {'slug': artist.slug, id: artist.id }) }}">
                <div class="artist-img"><img src="{{asset('uploads/artists/')}}{{artist.fileA}}" alt="imga-artist">
                </div>
                <span class="artist-name">{{artist.name}}</span>
            </a>
        </div>
        {% endfor %}
    </div>
</main>




{% endblock %}